<div class="flex flex-col items-center justify-center">
	<form #f="ngForm" (submit)="enviarFormulario(f)" class="w-[768px] bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
		<div class="flex items-start gap-10">
			<div class="w-1/2">
				<div class="mb-4">
					<label class="block text-gray-700 font-bold mb-2" for="fecha">
						Fecha
					</label>
					<input required [(ngModel)]="formData.fecha" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="fecha" type="date" placeholder="Fecha" name="fecha">
				</div>
				<div class="mb-4">
					<label class="block text-gray-700 font-bold mb-2" for="departure-time">
						Horario de salida
					</label>
					<input required [(ngModel)]="formData.horario" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="departure-time" type="time" placeholder="Departure Time" name="departureTime">
				</div>
				<div class="mb-4">
					<label class="block text-gray-700 font-bold mb-2" for="company">
						Empresa
					</label>
					<div class="relative">
						<select required [(ngModel)]="formData.empresa" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" id="company" name="company">
							<option *ngFor="let empresa of empresas; let idx = index" [value]="empresa._id">{{empresa.nombre}}</option>
						</select>
						<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
							<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.95 7.95a1 1 0 1 0-1.41-1.41l-3.54 3.54-3.54-3.54a1 1 0 1 0-1.41 1.41l3.54 3.54-3.54 3.54a1 1 0 1 0 1.41 1.41l3.54-3.54 3.54 3.54a1 1 0 1 0 1.41-1.41l-3.54-3.54 3.54-3.54z"/></svg>
						</div>
					</div>
				</div>
			</div>	
			<div>
				<div class="mb-4">
					<span class="block text-gray-700 font-bold mb-2">Seleccionar Destinos</span>
					<ul>
						<li *ngFor="let destino of destinos; let idx = index" class="flex items-center gap-2 p-1">
							<input class="w-4 h-4" type="checkbox" [id]="idx" [name]="idx" [value]="destino._id" (change)="setDestino($event)">
							<label [for]="idx">{{destino.nombre}}</label>
						</li>
					</ul>
				</div>
			</div>	
		</div>		
		<div class="flex items-center justify-between">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
				Guardar
			</button>
			<button (click)="sendCancelOrder()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
				Cancelar
			</button>
		</div>
	</form>
</div>
