<table class="w-full border-collapse table-auto">
	<thead>
		<tr class="bg-gray-200">
			<th class="px-4 py-2 text-left">ID</th>
			<th class="px-4 py-2 text-left">Fecha</th>
			<th class="px-4 py-2 text-left">Horario</th>
			<th class="px-4 py-2 text-left">Punto de partida</th>
			<th class="px-4 py-2 text-left">Punto de llegada</th>
			<th class="px-4 py-2 text-left">Cantidad de asientos</th>
			<th class="px-4 py-2 text-left"></th>
		</tr>
	</thead>
	<tbody *ngIf="viajes">
		<tr class="border-b border-gray-200 hover:bg-gray-100" *ngFor="let viaje of viajes; let i = index">
			<td class="px-4 py-2">{{i + 1}}</td>
			<td class="px-4 py-2">{{viaje.fecha_salida | date}}</td>
			<td class="px-4 py-2">{{viaje.hora_salida}}</td>
			<td class="px-4 py-2">{{viaje.origen_localidad.nombre}}</td>
			<td class="px-4 py-2">{{viaje.destino_localidad.nombre}}</td>
			<td class="px-4 py-2">{{viaje.asientos_disponibles}}</td>
			<td class="px-4 py-2 flex justify-end gap-2">
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
					Editar
				</button>
				<button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
					Borrar
				</button>
			</td>
		</tr>
	</tbody>
</table>
