<form class="flex flex-col justify-between gap-4" #f="ngForm" (ngSubmit)="submitForm(f)">
	<div class="flex flex-col gap-4">
		<label class="label">
			Origen:
			<select #selectOrigen (change)="emitirOrigen(selectOrigen)" class="input" id="from-list">
				<option value="">Seleccione una ciudad</option>
				<option
					*ngFor="let localidad of localidades$ | async"
					[value]="localidad._id"
				>
					{{localidad.nombre}}
				</option>
			</select>
		</label>
		<label class="label">
			Destino:
			<select #selectDestino (change)="emitirDestino(selectDestino)" class="input" id="from-list">
				<option value="">Seleccione una ciudad</option>
				<option
					*ngFor="let localidad of localidades$ | async"
					[value]="localidad._id"
				>
					{{localidad.nombre}}
				</option>
			</select>
		</label>
		<div class="grid grid-cols-4 gap-4">
			<label class="label">
				Cant. Pasajeros:
				<input class="input" type="number" placeholder="1">
			</label>
			<label class="label">
				Ida:
				<input class="input" name="desde" [(ngModel)]="formData.desde" type="date" [min]="hoyDesde | date:'yyyy-MM-dd'">
			</label>
			<label class="label">
				<span>Vuelta:</span>
				<input [disabled]="!formData.idaVuelta" class="input" name="hasta" [(ngModel)]="formData.hasta" type="date" [min]="formData.desde ? formData.desde : hoyHasta | date:'yyyy-MM-dd'">
			</label>
			<label class="flex items-center justify-center gap-2 bg-slate-300 rounded-md cursor-pointer">
				<input type="checkbox" name="idaVuelta" [(ngModel)]="formData.idaVuelta">
				Ida y vuelta
			</label>
		</div>
	</div>
	<hr>
	<div class="h-auto flex flex-col gap-4">
		<button class="bg-yellow-500 text-black py-5 px-8 rounded-md shadow-sm font-bold text-xl" type="submit">Buscar</button>
		<hr>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet inventore, corporis autem omnis vitae eaque culpa recusandae veniam ipsam eum? Maxime molestias numquam magni, debitis illo eveniet sed quas sit?</p>
	</div>
</form>